.favorite-page {
  background-color: #faf7f2;
}

.container {
  margin: auto;
  text-align: center;
}

.p-red {
  font-family: "Satisfy", cursive;
  color: #ce2829;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.p-black {
  font-family: "Quattrocento", serif;
  font-size: 2rem;
  margin: 0;
}

.favoriteBtns {
  padding: 0.4rem 1.2rem;
  border: none;
  border-radius: 3rem;
  background-color: #ffffff;
  color: black;
  text-decoration: none;
}
.favoriteBtns:hover {
  background-color: rgba(10, 10, 10, 0.9);
  color: white;
}
