.page-footer {
  background-color: #292929;
  padding: 3rem;
}

.footer-container {
  display: flex;
  color: white;
}

.footerContent {
  width: 70%;
  display: flex;
  gap: 0;
}

.sicacikMenuler {
  width: 65%;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

.sicacikMenuler a {
  text-decoration: none;
  color: white;
}

.insta {
  width: 50%;
}

.listsInstagram {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  width: 70%;
  justify-content: flex-end;
  margin-inline-start: auto;
}
