.bg-card1 {
  background-image: url("../Assets/adv-aseets/kart-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20rem;
  padding: 1rem;
}

.bg-card2 {
  background-image: url("../Assets/adv-aseets/kart-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20rem;
  padding: 1rem;
}
.bg-card3 {
  background-image: url("../Assets/adv-aseets/kart-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 20rem;
  padding: 1rem;
}

.grid-container {
  display: grid;
  column-gap: 0.2rem;
  row-gap: 1rem;
  justify-content: space-evenly;
  padding: 4rem;
}

.grid-item1 {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.grid-item2,
.grid-item {
  width: 25rem;
  grid-column: 2 / span 3;
}

.menu-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 1rem;
}

.card-link {
  text-decoration: none;
}
