.title {
  width: 100%;
  background-color: #ce2829;
  text-align: center;
  color: white;
  font-family: "Londrina Solid", cursive;
  font-weight: bold;
  padding: 1.5rem;
  margin: 0;
}

.titleLink {
  text-decoration: none;
}
